@import "src/scss/colors.scss";

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(30, 30, 30, .6);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(7px);

  padding: 30px;
  box-sizing: border-box;

  @media screen and (max-width: 992px) {
    padding: 15px;
  }

  &-info {
    & .modal__wrapper {
      padding-left: 115px;
      padding-right: 115px;
      max-width: 1345px;
      background: #05643B;

      @media screen and (max-width: 992px) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  &-state {
    & .modal__wrapper {
      padding-left: 115px;
      padding-right: 115px;
      max-width: 1345px;
      background: #05643B;

      @media screen and (max-width: 1440px) {
        padding-left: 90px;
        padding-right: 90px;
      }

      @media screen and (max-width: 1199px) {
        padding-left: 60px;
        padding-right: 60px;
      }

      @media screen and (max-width: 992px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      @media screen and (max-width: 769px) {
        padding-bottom: 0;
      }
    }
  }

  &--active {
    display: flex;
  }

  &__wrapper {
    background: linear-gradient(105.39deg, #044B2C 5.83%, #0D8553 97.64%);
    border-radius: 20px;
    max-width: 1076px;
    width: 100%;
    padding-top: 85px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 58px;
    box-sizing: border-box;
    position: relative;
    min-height: 600px;
    max-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 992px) {
      padding-top: 64px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 24px;
      min-height: 265px;
    }

    @media screen and (max-width: 768px) {
      padding-top: 64px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 24px;
    }
  }

  &__content {
    overflow: auto;
    padding-right: 10px;

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #FFB200;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #FF3434;
      border-radius: 10px;
    }
  }

  &__closer {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;

    @media screen and (max-width: 992px) {
      width: 25px;
      height: 25px;
      top: 13px;
      right: 20px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      width: 100%;
      height: 3px;
      background-color: $white;
      left: 0;
      transform: rotate(45deg);
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 100%;
      height: 3px;
      background-color: $white;
      left: 0;
      transform: rotate(-45deg);
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    max-width: 232px;
    width: 100%;
    height: auto;

    @media screen and (max-width: 992px) {
      max-width: 81px;
    }

    & img,
    & svg {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 45px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: $white;

    background: linear-gradient(63.84deg, #D00000 8.14%, #FFB200 88.1%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px;

    @media screen and (max-width: 992px) {
      font-size: 20px;
      padding: 15px 24px;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: $white;
    margin-top: 25px;

    max-width: 430px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 992px) {
      margin-top: 15px;
      font-size: 18px;
    }
  }

  &__form {
    margin-top: 30px;
    max-width: 390px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 992px) {
      margin-top: 20px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: $white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    margin-top: 24px;
    cursor: pointer;

    & span {
      text-decoration: underline;
      transition: 0.2s;
    }

    &:hover {
      & span {
        text-decoration: none;
      }
    }

    @media screen and (max-width: 992px) {
      font-size: 14px;
      margin-top: 0;
    }
  }

  &__items {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 40px;

    @media screen and (max-width: 992px) {
      margin-top: 20px;
    }
  }

  &__item {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: $white;

    padding: 3px;
    box-sizing: border-box;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.4));
    border-radius: 10px;
    position: relative;

    @media screen and (max-width: 992px) {
      font-size: 12px;
    }

    @media screen and (max-width: 768px) {
      padding: 1.5px;
    }

    & span {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      background: #05643b;
      border-radius: 10px;
      padding: 13px 20px;

      @media screen and (max-width: 768px) {
        padding: 7px;
      }
    }

    &:before {
      content: '';
      display: block;
      background: $red-orange;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      z-index: 1;
    }

    &:not(:last-child) {
      margin-bottom: 10px;

      @media screen and (max-width: 768px) {
        margin-bottom: 8px;
      }
    }
  }
}


.modal-form {

  &__field {
    margin-bottom: 20px;
  }

  &__input {
    width: 100%;
    height: 75px;

    background: $white;
    border-radius: 10px;
    border: none;
    box-shadow: none;

    font-weight: 500;
    font-size: 24px;
    line-height: 120%;

    padding: 22px 30px;
    box-sizing: border-box;

    @media screen and (max-width: 992px) {
      height: 42px;
      border-radius: 5px;
      padding: 12px 20px;
      font-size: 14px;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-family: UniNeue, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;
      color: rgba(0, 0, 0, 0.25);

      @media screen and (max-width: 992px) {
        font-size: 14px;
      }
    }
  }

  &__button {
    width: 100%;
    height: 75px;
    margin-bottom: 10px;

    @media screen and (max-width: 992px) {
      height: 45px;
      font-size: 16px;
      margin-bottom: 5px;
    }
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
  }

  &__checkbox {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

    &:checked ~ .modal-form__icon:before {
      opacity: 1;
    }
  }

  &__icon {
    min-width: 10px;
    width: 10px;
    height: 10px;
    display: block;
    margin-right: 8px;
    border: 1px solid $white;
    border-radius: 1px;
    box-sizing: border-box;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 15px;
      height: 17px;
      color: $white;
      content: '\2713';
      opacity: 0;
      transition: 0.2s;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $white;

    & a {
      text-decoration: underline;
      color: rgba(49, 118, 252, 1);
    }
  }
}

.modal-state {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;

    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
  }

  &__title {
    text-align: left;
    width: fit-content;

    @media screen and (max-width: 992px) {
      margin: 0 auto;
      text-align: center;
    }
  }

  &__sum {
    display: flex;
    column-gap: 35px;

    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      row-gap: 5px;
    }

    &--cross {
      font-weight: 900;
      font-size: 48px;
      line-height: 120%;
      display: flex;
      align-items: center;
      text-decoration-line: line-through;

      color: $white;

      @media screen and (max-width: 992px) {
        font-size: 28px;
      }
    }

    &--yellow {
      font-weight: 900;
      font-size: 48px;
      line-height: 120%;

      display: flex;
      align-items: center;
      background: linear-gradient(70.31deg, #FFB200 16.15%, #FFE404 84.47%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @media screen and (max-width: 992px) {
        font-size: 35px;
      }
    }
  }

  &__subtitle {
    font-weight: 900;
    font-size: 30px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: $white;
    margin-top: 30px;

    @media screen and (max-width: 992px) {
      font-size: 18px;
      margin-top: 4px;
      text-align: center;
    }
  }

  &__sales {
    @media screen and (max-width: 769px) {
      width: 100%;
    }
  }

  &__bottom {
    max-width: 390px;
    width: 100%;
    margin-top: 30px;

    @media screen and (max-width: 992px) {
      margin-top: 15px;
    }

    @media screen and (max-width: 769px) {
      max-width: 100%;
    }
  }

  &__button {
    height: 75px;

    @media screen and (max-width: 992px) {
      height: 45px;
      font-size: 16px;
    }
  }

  &__notice {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: $white;
    margin-top: 5px;

    @media screen and (max-width: 769px) {
      font-size: 10px;
      line-height: 14px;
    }
  }

  &__info {
    width: 66%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 992px) {
      width: 100%;
      align-items: center;
    }
  }

  &__img {
    width: 33%;
    display: flex;
    align-items: flex-end;
    position: relative;

    @media screen and (max-width: 992px) {
      width: 100%;
      margin-top: 30px;
    }

    @media screen and (max-width: 769px) {
      margin-top: 0;
    }

    &--abs {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }

    &--static {
      position: relative;
      z-index: 2;
    }

    & img {
      width: 100%;
      height: auto;
      object-fit: contain;

      @media screen and (max-width: 992px) {
        max-height: 350px;
      }

      @media screen and (max-width: 769px) {
        max-height: 202px;
      }
    }
  }
}

.state-sales {
  position: relative;
  width: fit-content;
  padding: 3px;
  margin-top: 25px;
  box-sizing: border-box;

  @media screen and (max-width: 992px) {
    margin-top: 15px;
    width: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $red-orange;
    border-radius: 10px;
    z-index: 1;
  }

  &__items {

    border-radius: 10px;
    padding: 11px 31px;
    box-sizing: border-box;
    width: fit-content;
    background: #05643b;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 992px) {
      padding: 10px 30px;
      width: 100%;
    }
  }

  &__item {
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    display: flex;
    align-items: center;
    column-gap: 30px;

    @media screen and (max-width: 992px) {
      font-size: 18px;
      column-gap: 13px;
      justify-content: center;
    }

    &--white {
      color: #FFFFFF;

      @media screen and (max-width: 992px) {
        width: 85px;
      }
    }

    &--yellow {
      background: linear-gradient(70.31deg, #FFB200 16.15%, #FFE404 84.47%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @media screen and (max-width: 992px) {
        width: 76px;
      }
    }
  }
}